<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t('event.list.event_name_header') %></th>
      <th scope="col"><%= t('event.list.room_id_header') %></th>
      <th scope="col"><%= t('event.list.max_players_header') %></th>
      <th scope="col"><%= t('event.list.event_date_header') %></th>
      <th scope="col"><%= t('event.list.event_host_header') %></th>
    </tr>
  </thead>
  <tbody>
    <% events.where('event_date >= ?', Date.today).order(:event_date).each do |event| %>
      <tr>
        <td>
          <%= event.title %>
        </td>

        <td>
          <% if user_signed_in? %>
          <%= link_to event.room_id, event, style: "font-family: Monospace;"  %>
          <% else %>
          <span style="font-family: Monospace;"><%= event.room_id %></span>
          <% end %>
        </td>

        <% current_player_count = Participation.where(event_id: event.id).count %>
        <% if current_player_count < event.max_players %>
          <% room_availability = "color: green" %>
        <% else %>
          <% room_availability = "color: grey; font-style: italic" %>
        <% end %>
        <td>
          <span style="<%= room_availability %>"><%= current_player_count %>/<%= event.max_players %></span>
        </td>

        <td>
          <i><%= event.event_date %></i>
        </td>

        <td>
          <strong><i><%= User.find_by(id: event.owner).name %></i></strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
