<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t('event.list.room_id_header') %></th>
      <th scope="col"><%= t('event.list.event_date_header') %></th>
      <th scope="col"><%= t('event.list.event_host_header') %></th>
    </tr>
  </thead>
  <tbody>
  <% events.where('event_date > ?', Date.today).order(:event_date).each do |event| %>
    <tr>
      <td>
        <% if user_signed_in? %>
        <%= link_to event.room_id, event, style: "font-family: Monospace;" %>
        <% else %>
        <span style="font-family: Monospace;"><%= event.room_id %></span>
        <% end %>
      </td>
      <td>
        <i><%= event.event_date %></i>
      </td>
      <td>
        <strong><i><%= User.find_by(id: event.owner).name %></i></strong>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
