<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">Participant</th>
      <th scope="col">Dish</th>
    </tr>
  </thead>
  <tbody>
    <% Participation.where(event_id: @event.id).order(:created_at).each do |participation| %>
      <% user = User.find_by(id: participation.user_id) %>
      <tr>
        <td scope="col">
          <% if user.id == @event.owner.id %>
            <i><strong><%= user.name %></strong></i>
          <% else %>
            <%= user.name %>
          <% end %>

          <% if participation.main_ingredient_id && participation.cuisine_style_id %>
            <br />
            <%= Ingredient.find(participation.main_ingredient_id).name %>
            <%= CuisineStyle.find(participation.cuisine_style_id).name %>
          <% else %>
            <% if current_user == user %>
              <%= button_to "Draw!", draw_ingredient_style_path, params: {event_id: @event.id}, method: :get, class: "btn-sm btn-primary w-100" %>
            <% elsif current_user.id == @event.owner_id%>
              <%= button_to "Draw for guest!", draw_ingredient_style_path, params: {event_id: @event.id}, method: :get, class: "btn-sm btn-secondary w-100" %>
            <% end %>
          </td>
          <% end %>

        </td>

        <td scope="col">
          <% btn_txt = "Upload Dish" %>
          <% Dish.where(event_id: @event.id, user_id: user.id).each do |dish| %>
            <p><%= link_to dish.name, dish_path(dish) %></p>
            <% btn_txt = "Upload More" %>
          <% end %>
          <% if current_user.id == user.id %>
            <%= button_to btn_txt, new_dish_path, params: {event_id: @event.id}, method: :get, class: "btn-sm btn-primary w-100" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
