<% @dishes.each do |dish| %>
  <tr>
    <td>
      <%= dish.id %>
    </td>
    <td>
      <%= link_to dish.name, dish.img_url, target: :_blank %>

    </td>
    <td>
      <%= link_to "show", dish %>
    <td>
      <i><%= @events.find_by(id: dish.event_id).event_date %></i>
    </td>
    <td>
      <strong><i><%= @users.find_by(id: dish.user_id).name %></i></strong>
    </td>
  </tr>
<% end %>
