<%= form_with(model: dish) do |form| %>
<% if dish.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

  <ul>
    <% dish.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row my-2">
  <div class="col">
    <%= form.label t('dish.new.name') %>
    <%= form.text_field :name, required: true, class: "w-100 d-block p-0" %>
  </div>
</div>

<div class="row my-2">
  <div class="col">
    <%= form.file_field :image, required: true, name: "attachment[file]" %>
  </div>
</div>

<div class="row my-2">
  <div class="col">
    <%= form.hidden_field :user_id, value: current_user.id %>

    <% if dish.event_id %>
      <%= form.hidden_field :event_id, value: dish.event_id %>
    <% else %>
      <%= form.hidden_field :event_id, value: params[:event_id] %>
    <% end %>
  </div>
</div>

<div class="row my-2">
  <div class="col">
    <%= form.submit t('dish.new.create_btn'), class: "btn btn-primary w-100 p-0" %>
  </div>
</div>
<% end %>
