<div class="container mt-4">

  <%= render @dish %>


  <div class="row">
    <div class="dropdown-divider"> </div>
      <p>
      <%# TODO: migrate description field %>
      <%# <% if @dish.description %>
      <%#   <%= @dish.description %>
      <%# <% else %>
      <%= t('dish.made_by_user', user: User.find(@dish.user_id).name) %><%= Event.find(@dish.event_id).event_date%>
      <%# <% end %>
      </p>
    <div class="dropdown-divider"> </div>
  </div>

  <div class="m-2">
    <% if current_user.id == @dish.user_id %>

    <div class="row">
      <div class="col-3 p-0 m-1">
        <%= button_to t('common.edit_btn'), edit_dish_path(@dish), method: :get, class: "btn-sm w-100" %>
      </div>
      <div class="col-3 p-0 m-1">
        <%= button_to t('common.delete_btn'), @dish, method: :delete, class: "btn-danger btn-sm w-100" %>
      </div>

      <% end %>
    </div>
    <div class="row">
      <div class="col-3 p-0 m-1">
        <%= button_to t('common.back_btn'), event_path(@dish.event_id), method: :get, class: "btn-sm w-100" %>
      </div>
    </div>
  </div>

</div>
